@import "./partials/variables";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/body";
@import "./partials/class";
@import "./partials/mediaQuerys";





*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}







   
      
        
    