$font-color: WHITESMOKE;
$primary-color:#131D27 ;
$secondary-color: black;
$font-family:'Roboto', sans-serif;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: $font-family; 
    font-size: 12px;
    background-color: $primary-color;
    background-size: cover;
    animation-name: movimiento;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
nav img {
    border-radius: 50%;
}
ul {
    list-style: none;
    justify-content: space-evenly;
}
ul li{
    display: inline;
    padding: 50px;
    font-size: 30px ;
}
a {
    text-decoration: none;
    color: $font-color;
}

h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 100px;
    color: $font-color;
}
p {
    font-weight: bold;
    font-style: italic; 
    font-size: 2rem;
}
footer {
    color: $font-color;
    background-color: $secondary-color;
    margin-top: 150px;
    font-size: 1.5rem;
}
.aboutus {
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10%;
    background-color: 	$secondary-color;
    width: 80%;
    transition: all 0.1s linear;
    color: $font-color;
}
.aboutus:hover {
    transform: scale(1,1.2);
}
.container2 {
    display: flex;
    justify-content: center;
    gap: 5%;
    &_imagen {
        height: 80%;
        width: 800px;
    }
    &_imagen img {
        width:  800px;
    height: 800px;

    }
    &_imagen iframe {
        width: 800px;
    height: 800px;
    }
}
.contacto {
    display: flex;
    justify-content: center;
    padding: 10%;
    &_input {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 20rem;
    }
    &_redes {
        font-size: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        padding: 10px;
        background-color: 	$secondary-color;
        color: $font-color;
        width: 300px;
        height: 300px;
        transition: all 0.2s linear;
    }
    &_redes:hover {
        transform: scale(1.2, 1.2)
    }
}

.ubi  {
    margin: 100px;
    text-align: center;
    transition: all 0.3s linear;
  
}
.ubi:hover {
    transform: scale(1.2,1.2);
    }


@keyframes movimiento{
    0% { 
        background-color: $primary-color;
    }  
    25% {
        background-color: $secondary-color;
    } 
    50% {
        background-color: $primary-color;
    }
    75% {
            background-color: $secondary-color;
    }
    100% {
        background-color:  $primary-color;
    }

}

@media screen and (max-width:768px)
{
    h1{
        width: 60%;
        margin-left: 3%;
    }
    .aboutus{
        width: 20rem;
        font-size: 0.5rem;
    }
    .container2 
    {
        display: inline;
        text-align: center;
        justify-content: center;
        &_h {
            margin-left: 3%;
            width: 60%;
        }
        &_imagen {
         height: 80%;
        width: 80%;
        border-radius: 5px;
        background-color: 	transparent;
        text-align: left;
        padding: 10%;
        }
        &_imagen img {
                width: 20rem;
                height: 20rem;
            }
        &_imagen iframe {
            width: 20rem;
            height: 20rem;
        }
        
    }
     
   
   
    .ubi {
        margin: 25px;
        text-align: center;
        transition: all 0.3s linear;
        &_h {
            margin-left: 20%;
        }
     }
    
    .ubi iframe {
        width: 300px;
        height: 300px;
    }
    .contacto {
        display: inline;
        justify-content: center;
        padding: 10%;
        &_redes {
        background-color: 	$secondary-color;
        width: 80%;
        height: 150px;
        transition: all 0.2s linear;
       text-align: center;
       padding: 5px;
       margin: 10%;
        
            }
        &_h {
            margin-left: 15%;
            width: 80%;
            }
        &_input {
            padding: 10px;
            margin-left: 15%;
            width: 20rem;
        }
    }
   
      
        
    }