

.aboutus {
    font-size: 1rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10%;
    background-color: 	$secondary-color;
    width: 80%;
    transition: all 0.1s linear;
    color: $font-color;
}

.container2 {
    @extend %flex;
    gap: 5%;
    &_imagen {
        height: 80%;
        width: 800px;
    }
    &_imagen img {
        width:  800px;
    height: 800px;

    }
    &_imagen iframe {
        width: 800px;
    height: 800px;
    }
}
.contacto {
    @extend %flex;
    padding: 10%;
    &_input {
    display: flex;
    justify-content: center;
    padding: 10%;
    width: 20rem;
    }
    &_redes {
        font-size: 1rem;
        border: 1px solid $secondary-color;
        border-radius: 5px;
        padding: 10px;
        background-color: 	map-get($colores , bg-color );
        color: $font-color;
        width: 300px;
        height: 300px;
        transition: all 0.2s linear;
    }
    
}

.ubi  {
    margin: 100px;
    text-align: center;
    transition: all 0.3s linear;
  

.ubi:hover {
    transform: scale(1.2,1.2);
    }
}
.cardsize {
    width: 80%;
    height: auto;
    margin-left: 10%;
}
.rowsize
{
    
    
    margin-left: 10%;
    background-color:  	transparent;
    color: whitesmoke;
}
